In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('state_legislative_election_results_1971_2012.csv')
df.head()

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  State District  Year Party  Incumbent  Dem Votes  GOP Votes  Other Votes
0    AK        1  1992     D          0       3019       3002            0
1    AK        2  1992     D          1       4704       2169            0
2    AK        3  1992     D          1       5210       2233            0
3    AK        4  1992     R          1       1754       4538          294
4    AK        5  1992     D          1       3953          0         1153

In [7]:
df['Efficiency Gap'] = 0
df.head()

,State,District,Year,Party,Incumbent,Dem Votes,GOP Votes,Other Votes,Efficiency Gap
0,AK,1,1992,D,0,3019,3002,0,0
1,AK,2,1992,D,1,4704,2169,0,0
2,AK,3,1992,D,1,5210,2233,0,0
3,AK,4,1992,R,1,1754,4538,294,0
4,AK,5,1992,D,1,3953,0,1153,0

In [20]:
earliest_years = []
states = []
for i in range(len(df)):
    state = df['State'][i]
    if state not in states:
        states.append(state)
        earliest_years.append(df['Year'][i])
print("Earliest years of", len(earliest_years), 'states:', earliest_years)
print()
print('Earliest common year:', max(earliest_years))

Earliest years of 38 states: [1992, 1974, 1982, 1972, 1972, 1972, 1972, 1982, 1992, 1982, 1972, 1982, 1992, 1972, 1971, 1978, 1978, 1972, 1972, 1972, 1979, 1974, 2002, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1972, 1974, 1972, 1976, 1972, 1985, 1972, 1992]

Earliest common year: 2002

### Let's decide not to cut data
yum!

In [26]:
def calculateEG(d, r, winner):
    if winner == 'D':
        return (d - (d + r) / 2 - r) / (d + r)
    if winner == 'R':
        return (r - (d + r) / 2 - d) / (d + r)
    else:
        return 0


for i in range(len(df)):
    df.loc[i, 'Efficiency Gap'] = calculateEG(df['Dem Votes'][i], df['GOP Votes'][i], df['Party'][i])

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
df

,State,District,Year,Party,Incumbent,Dem Votes,GOP Votes,Other Votes,Efficiency Gap
0,AK,1,1992,D,0,3019,3002,0,-0.497177
1,AK,2,1992,D,1,4704,2169,0,-0.131165
2,AK,3,1992,D,1,5210,2233,0,-0.100027
3,AK,4,1992,R,1,1754,4538,294,-0.057533
4,AK,5,1992,D,1,3953,0,1153,0.500000
5,AK,6,1992,D,1,3802,0,0,0.500000
6,AK,7,1992,R,1,2433,3078,482,-0.382961
7,AK,8,1992,R,0,2438,2634,524,-0.461356
8,AK,9,1992,D,1,2561,2343,672,-0.455546
9,AK,10,1992,R,0,2092,3607,899,-0.234164
10,AK,11,1992,D,0,2831,2810,262,-0.496277
11,AK,12,1992,R,1,0,4231,1500,0.500000
12,AK,13,1992,R,0,3479,3601,0,-0.482768
13,AK,14,1992,R,1,2033,2928,0,-0.319593
14,AK,15,1992,D,1,3459,0,1156,0.500000
15,AK,16,1992,D,1,2233,1248,0,-0.217035
16,AK,17,1992,R,0,1617,2242,1535,-0.338041
17,AK,18,1992,R,0,2811,3933,862,-0.333630
18,AK,19,1992,R,0,2513,2847,0,-0.437687
19,AK,20,1992,R,0,2807,3332,0,-0.414481
20,AK,21,1992,D,1,3427,2148,0,-0.270583
21,AK,22,1992,R,1,2082,4287,0,-0.153792
22,AK,23,1992,R,0,1076,1870,0,-0.230482
23,AK,24,1992,R,0,2585,3738,0,-0.317650
24,AK,25,1992,I,0,0,2790,3136,0.000000
25,AK,26,1992,D,1,2877,2316,552,-0.391970
26,AK,27,1992,D,1,3219,2225,672,-0.317414
27,AK,28,1992,D,0,2875,2098,1077,-0.343756
28,AK,29,1992,D,0,3803,2469,501,-0.287309
29,AK,30,1992,D,0,2671,2169,591,-0.396281
...,...,...,...,...,...,...,...,...,...
72729,WY,31,2012,R,1,0,3214,0,0.500000
72730,WY,32,2012,R,1,0,3741,0,0.500000
72731,WY,33,2012,D,1,1573,1447,0,-0.458278
72732,WY,34,2012,R,1,0,3797,0,0.500000
72733,WY,35,2012,R,1,0,3717,0,0.500000
72734,WY,36,2012,R,1,0,2802,0,0.500000
72735,WY,37,2012,R,1,0,3858,0,0.500000
72736,WY,38,2012,R,0,0,3585,0,0.500000
72737,WY,39,2012,D,1,2727,0,0,0.500000
72738,WY,40,2012,R,1,0,3806,0,0.500000
72739,WY,41,2012,D,1,2164,1612,0,-0.353814
72740,WY,42,2012,R,0,1101,2833,0,-0.059736
72741,WY,43,2012,R,1,0,2490,0,0.500000
72742,WY,44,2012,D,1,1486,1054,0,-0.329921
72743,WY,45,2012,R,1,1706,1781,0,-0.478492
72744,WY,46,2012,R,1,1886,2743,0,-0.314863
72745,WY,47,2012,R,0,0,3019,747,0.500000
72746,WY,48,2012,R,0,1613,1723,0,-0.467026
72747,WY,49,2012,R,0,0,2881,0,0.500000
72748,WY,50,2012,R,0,0,4053,0,0.500000
72749,WY,51,2012,R,1,0,4768,0,0.500000
72750,WY,52,2012,R,1,0,2939,0,0.500000
72751,WY,53,2012,R,1,0,2703,0,0.500000
72752,WY,54,2012,R,0,1946,2787,161,-0.322311
72753,WY,55,2012,R,1,1473,2374,227,-0.265792
72754,WY,56,2012,R,1,0,2796,0,0.500000
72755,WY,57,2012,R,1,0,2866,0,0.500000
72756,WY,58,2012,R,0,0,2439,0,0.500000
72757,WY,59,2012,R,1,1526,1885,0,-0.394752
72758,WY,60,2012,D,1,3199,0,0,0.500000